<% if (user!== undefined){%>
  <%= user.id%>
  <form method="POST" action="/logout">
    <button>logout</button>
  </form>
<%}else{%>
  <form method="POST" action="/login">
    <lable for user[user_id]>user_id</lable>
    <input type = "text", name ="user[user_id]">
    <button>login</button>
  </form>
<%}%>
