<!DOCTYPE html>
<html lang="en">
<head>
  <title>urls_index</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header.ejs %>
  <table border='1'> 
    <% for(let element of urls) { %>
      <tr> 
        <td><%= element.id %></td>
        <td><%= element.url%></td>
        <td>
          
            <form method="get">
                <% if (user){%>
                  <a href="/urls/<%= element.id%>">edit</a>
                <%}%>
              </form>
          
        </td>
        <td>
            <form method="POST" action="/urls/<%= element.id%>/delete">
              <button>delete</button>
            </form>
        </td>
      </tr>
    <% } %>
  </table>
  
</body>
</html>