<!DOCTYPE html>
<html lang="en">
<head>
  <title>urls_index</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header.ejs %>
  <form method="get" action="/urls/new">
    <button>new</button>
  </form>
  <table border='1'> 
    <% for(let element in urls) { %>
       
        <tr>
          <td><%= element %></td>
          
          <td><%= urls[element].url%></td>
          <td>
            
              <form method="get">
                  <% if (user){%>
                    <a href="/urls/<%= element%>">edit</a>
                  <%}%>
                </form>
            
          </td>
          <td>
              <form method="POST" action="/urls/<%= element%>/delete">
                <button>delete</button>
              </form>
          </td>
        </tr>

      
    <% } %>
  </table>
  
</body>
</html>