<!DOCTYPE html>
<html lang="en">
<head>
  <title>urls_show</title>
  <% include ./partials/_header.ejs %>
</head>
<body>
    <table> 
          <tr> 
            <td><%=shortURL%>&nbsp;&nbsp;&nbsp;&nbsp;<%=longURL%></td>
          </tr>
    </table>
</body>
</html>