<!DOCTYPE html>
<html lang="en">
  <head>
    <title>user_registration</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="/register" method="POST" style="margin:150px;">
      <label for email>Enter username(email):</label>
      <input type="email" name="email" style="width: 300px">
      <label for email>Enter password:</label>
      <input type="password" name="password" style="width: 300px">
      <button>register</button>
    </form>
  </body>
</html>